# -----------------------------------------------------------------------------
# NextJS Frontend Configuration
# -----------------------------------------------------------------------------
BACKEND_URL=

# -----------------------------------------------------------------------------
# FastAPI Backend Configuration
# -----------------------------------------------------------------------------
DEV_MODE=true
PG_DATABASE_URL=

# -----------------------------------------------------------------------------
# LLMs Configuration (APIs & Keys)
# -----------------------------------------------------------------------------
OPENAI_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=lguideai
BRAVE_SEARCH_API_KEY=
GOOGLE_MAPS_API_KEY=
